<div class="gi-chapter-map">
    <div class="chapter-svg-map"></div>
    <p class="chapter-map-counter" data-distance="{{ distance }}">
        <span class="chapter-map-counter-count">{{ distance }}</span> miles
    </p>
</div>