<div class="chapter" id="{{ chapterid }}">
  <h2 class="chapter_title">{{ title }}</h2>

{{#country}}
  <dl class="chapter_meta">
    {{#location}}
      <dt>Location</dt>
      <dd>{{ location }}</dd>
    {{/location}}

    {{#reason}}
      <dt>Reason</dt>
      <dd>{{ reason }}</dd>
    {{/reason}}

    {{#firstbuilt}}
      <dt>First built</dt>
      <dd>{{ firstbuilt }}</dd>
    {{/firstbuilt}}

    {{#deaths}}
      <dt>Number of deaths around wall</dt>
      <dd>{{ deaths }}</dd>
    {{/deaths}}

    {{#material}}
      <dt>Made of</dt>
      <dd>{{ material }}</dd>
    {{/material}}
  </dl>
{{/country}}

  <div class="chapter_copy">
      {{{ compiledAssets }}}
  </div>

  <div class="background_credit"></div>
</div>