<figure class="chapter_figure {{# class }} {{ class }} {{/class}}" id="{{ assetid }}">
    <img class="chapter_image" src="{{{ src }}}" alt="{{ alttext }}" />

  {{# caption }}
    <figcaption>
      {{{ caption }}}
    </figcaption>
  {{/caption}}

</figure>