<div class="chapter" id="{{ chapterid }}">
  <h2 class="chapter_title">{{ title }}</h2>
  <dl class="chapter_meta">
      <dt>Location</dt>
      <dd>{{ country }}</dd>
      <dt>Reason</dt>
      <dd>{{ reason }}</dd>
      <dt>Age</dt>
      <dd>{{ age }} years old</dd>
      <dt>Number of deaths around wall</dt>
      <dd>{{ deaths }}</dd>
      <dt>Made of</dt>
      <dd>{{ material }}</dd>
  </dl>
  <div class="chapter_copy">
      {{{ compiledAssets }}}
  </div>
</div>