<figure id="{{ assetid }}">
    <h2>{{ title }}</h2>
    <video class="chapter_video" poster="{{ postersrc }}" controls>
        <source src="{{ webmsrc }}" type="video/mp4;">
        <source src="{{ mp4src }}" type="video/webm;">
        <p>Video playback not supported</p>
    </video>
    <figcaption>
      {{{ caption }}}
    </figcaption>
</figure>