<header class="gi-header">
    <h1 class="gi-header-title">
        <a class="gi-header-text" href="#intro">Walled World</a>
    </h1>
    <nav class="gi-nav">
        <span class="previous"> &lt; </span>
        <div class="nav-links"></div>
        <!--<a href="#all_walls"  class="gi-nav-link gi-nav-link-all">All the <br /> walls</a>-->
        <span class="next"> &gt; </span>
    </nav>
</header>
