<header class="gi-header">
    <h1 class="gi-header-title">
        <span class="gi-header-text">Walled World</span>
        <a href="#gi-nav" class="gi-top" id="gi-top">back to top</a>
    </h1>

    <nav class="gi-nav">
        <a href="#all_walls"  class="gi-nav-link gi-nav-link-all">All the <br /> walls</a>
    </nav>
</header>
