<header>{{ header }}</header>

<div class="wall-body">
    <div class="wall-text">
        <div class="main">

            <section>
                Section 1
            </section>

            <section>
                Section 2
            </section>

            <section>
                Section 3
            </section>

            <section>
                Section 4
            </section>

            <section>
                Section 5
            </section>

            <section>
                Section 6
            </section>

            <section>
                Section 7
            </section>

            <section>
                Section 8
            </section>

        </div>
    </div>
</div>
