<script type="text/template" id="introduction">
    <h1>Walled Worlds</h1>
    <aside>
        Nullam et tellus enim. Mauris id dictum lorem. Pellentesque consectetur purus eget urna pulvinar eleifend. Aliquam placerat mauris id neque tristique, eu egestas metus rutrum. Donec at libero sem. Aliquam rhoncus magna nulla, vitae gravida ipsum sagittis sed. Sed sed mollis metus. Cras in leo eu felis posuere euismod.
    </aside>
</script>

<script type="text/template" id="chapterOverview">
    <h2>Place name</h2>
    <p>{{{ description }}}</p>
    <div class="compass"></div>
</script>