.chapter {
  overflow: hidden;
  position: relative;
  padding: 0 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #222;

  &.fixed-background {
      background-attachment: fixed;
      background-position: 0 3.4rem;
  }

  .chapter_title {
    font-size: 4.4em;
    font-family: "WebEgyptian-Regular";
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    -webkit-font-smoothing: antialiased;
    border: none;
    color: #fff;
  }

  .chapter_meta {
    font-family: Arial;
    margin: 0.2rem 0 1rem;
    font-size: 1.4em;
    position: relative;
  }

  .chapter_meta dt,
  .chapter_meta dd {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
  }

  .chapter_meta dt {
    font-weight: bold;
    margin: 0 0.4rem 0 0;
  }

  .chapter_meta dd {
    margin: 0 1.8rem 0.2rem 0;
  }

  .chapter_copy h2 {
    line-height: 150%;
    font-size: 1.6em;
    font-family: "Helvetica";
    border: none;
    position:relative;
    margin: 1.5rem 0 0;
    -webkit-font-smoothing: antialiased;
    color: #fff;
  }

  .chapter_copy blockquote {
    color: #fff;
    margin: 1rem 0 1rem 0;
    padding-left: 33px;
    background-image: url(../imgs/blockquote.png);
    background-position: 0 5px;
    position:relative;
    background-repeat: no-repeat;
    background-size:21px 11px;
  }

  .chapter_copy p {
    font-size: 1.6em;
    line-height:1.5em;
    position: relative;
    font-family: "TextWebEgyptian-Regular", Georgia;
    -webkit-font-smoothing: antialiased;
    margin: 1rem 0;
  }

  .chapter_copy p.byline {
    font-style:italic;
    padding: 8px;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
  }

  .chapter_copy {
    margin-bottom: 6rem;
  }

  .chapter_copy figure {
    max-width: 500px;
    margin: 1rem 0 1rem;
    position: relative;

    figcaption {
      font-family: arial, sans-serif;
      font-size: 13px;
      color: #fff;
      margin: -6px 0 0 0;
      line-height: 140%;
      background: #333;
      padding: 10px;
      border-radius: 0 0 5px 5px;
      -webkit-font-smoothing: antialiased;
    }
  }

  .chapter_image,
  .chapter_video {
    width: 100%;
    max-width: 496px;
    border: 2px solid #333;
    outline: none;
  }

  .gradient-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000;
    display: block;
  }
}

&.responsive {
  .chapter_title {
    margin: 2em 0 0.3em 0;
  }

  .chapter_copy figure {
    max-width: none;
    margin-right: 5px;
  }
}

&.fixed .chapters {
  margin-top: 3.4rem;
}

&.wide .chapter {
  padding-left: 400px;
  padding-top: 200px;
  padding-right: 40px
}