.gi-header {
  overflow: hidden;
  background: #333;
  position: static;
  z-index: 2;
  height: 3.4rem;
}

&.fixed .gi-header {
  position: fixed;
  top: 0;
}

&.wide .gi-header {

}

.gi-header-title {
  margin: 18px 0 0 18px;
  font-size: 23px;
  display: inline-block;
  float: left;
  font-family: "WebEgyptian-Regular", Georgia;
}

.gi-top {
  color: rgb(136, 136, 136);
  text-decoration: none;
  display: block;
  float: right;
  margin-left: 10px;
  font-size: 13px;
  font-weight: normal;
  clear: left;
}


.gi-header-text {
  float: left;
}
