.gi-header {
  overflow: hidden;

  background: #333;
  position: static;
  z-index: 2;

  &.fixed {
    position: fixed;
    top: 0;
  }
}

&.wide .gi-header {

}

.gi-header-title {
  margin: 18px 0 0 18px;
  font-size: 23px;
  display: inline-block;
  float: left;
  font-family: "WebEgyptian-Regular", Georgia;
}

.gi-top {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
}
