.gi-header {
  overflow: hidden;
  background: #333;
  position: absolute;
  z-index: 2;
  height: 3.4rem;
  width: 100%;
  -moz-transition: box-shadow 0.2s linear;
  -ms-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}

&.fixed .gi-header {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

&.responsive {
  .gi-header {
    height: 43px;
  }
  .gi-header-title {
    margin: 10px 0 0 11px;
  }
}

.gi-header-title {
  margin: 15px 0 0 15px;
  font-size: 23px;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: "WebEgyptian-Regular", Georgia;
  -webkit-font-smoothing: antialiased;
}

.gi-top {
  color: rgb(136, 136, 136);
  text-decoration: none;
  display: block;
  float: right;
  margin-left: 10px;
  font-size: 13px;
  font-weight: normal;
  clear: left;
}


.gi-header-text {
  float: left;
  color: #fff;
  text-decoration: none;
}

.gi-header-text:hover{
  text-decoration: none;
}
