.gi-chapter-map {
  position: absolute;
  left: 0;
  top: 0;
}

.fixed-background .gi-chapter-map {
  top: 3.4rem;
}

.gi-chapter-map svg path {
  stroke: rgb(255, 255, 255);
  stroke-linejoin: round;
  fill: none;
}

.chapter-map-counter {
  font-family: "WebEgyptian-Regular";
  color: #fff;
  position: absolute;
  left: 32%;
  top: 0;
  font-size: 1rem;
  text-align: right;
  padding: 12px 0 10px;
  text-align: center;
  opacity: 0.8;
  width: 100px;
  border-bottom: 1px solid #fff;
}

.chapter-map-counter:hover {
  opacity: 1;
  cursor: default;
}

.marker {
  opacity: 0.3;
}

.show-marker {
  opacity: 1;
}

.svg_wall {
  path {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
  }

  .country {
    fill: rgba(255, 0, 0, 0.3);
    stroke: rgba(255, 0, 0, 0.6);;
  }

  .marker_group {
    opacity: 0.3;
  }

  .show-marker {
    opacity: 1;
  }

  .marker_path {
    fill: #0bff0a;
    stroke: #69fff3;
  }

  .wall_path {
    stroke: #ffffff;
    stroke-width: 2px;
  }

  .marker_text {
    font-family: arial;
    fill: #fff;
    font-size: 12px;
  }
}