.gi-chapter-map {
  position: absolute;
  left: 0;
  top: 0;
  display: none;

}

.fixed-background .gi-chapter-map {
  top: 3.4rem;
}

.gi-chapter-map svg path {
  stroke: rgb(255, 255, 255);
  stroke-linejoin: round;
  fill: none;
}

.chapter-map-counter {
  position: absolute;
  right: 0;
  top: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: right;
}

.marker {
  opacity: 0.3;
}

.show-marker {
  opacity: 1;
}

.svg_test {
  position: absolute;
  top: 0;
  left: 0;

  path {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
  }

  .country {
    fill: rgba(255, 0, 0, 0.3);
    stroke: rgba(255, 0, 0, 0.6);;
  }

  .marker_path {
    fill: #0bff0a;
    stroke: #69fff3;
  }

  .wall_path {
    stroke: #ffffff;
    stroke-width: 3px;
  }

  .marker_text {
    font-family: arial;
    fill: #fff;
    font-size: 12px;
  }
}