.gi-chapter-map {
  position: absolute;
  left: 0;
  top: 0;


}

.fixed-background .gi-chapter-map {
  top: 3.4rem;
}

.gi-chapter-map svg path {
  stroke: rgb(255, 255, 255);
  stroke-width: 3px;
  stroke-linejoin: round;
  fill: none;
}

.chapter-map-counter {
  position: absolute;
  right: 0;
  top: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: right;
}

.marker {
  opacity: 0.3;
}

.show-marker {
  opacity: 1;
}