.gi-nav {
  float: right;
}

.gi-nav-link {
  font-family: arial;
  color: #fff;
  text-decoration: none;
  padding: 13px 10px 9px;
  display: inline-block;
  font-size: 12px;
  float: left;
  min-height: 2rem;
  display: none;

  &.active {
    background: rgb(109, 109, 109);
    display: block;
  }
}

&.wide {
  .gi-nav {
    width: 530px;
    margin-right: 20px;
  }

  .gi-nav-link {
    display: block;
  }

}

.gi-nav-link:hover {
  background: #5c5c5c;
}

.gi-nav-link strong {
  display: block;
}

.gi-nav-link-meta{
  font-weight: normal;
}
