.gi-nav {
  float: right;

  .link_title {
    color: #fff;
    line-height: 16px;
    padding-top: 6px;
    margin-left: 10px;
    text-decoration: none;
  }

  .nav-links {
    float: left;
  }

  .previous,
  .next,
  .nav_count {
    display: none;
  }
}

.gi-nav-link {
  font-family: arial;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  float: left;
  min-height: 60px;
  display: none;
  padding: 0 5px;

  &:first-child {
    display: block;
  }

  &.active {
    background: rgb(109, 109, 109);
    display: block;
  }
}
&.fixed.responsive {
  .gi-nav-link:first-child {
    display: none;

    &.active {
      display: block;
    }
  }
}

&.responsive {
  .gi-nav-link {
    line-height: 18px;
    height: 100px;
    min-width: 200px;

    &.active {
      background: transparent;
    }
  }

  .previous,
  .nav_count,
  .link_title,
  .next
  {
    float: left;
    display: inline-block;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
  }

  .previous,
  .next {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: rgb(109, 109, 109);
    }
  }

  .previous,
  .next,
  .nav_count {
    min-width: 30px;
    line-height: 45px;
    text-align: center;
  }



  .nav_count {
    min-width: 45px;
  }

  .next {
    float: right;
  }

  .nav_count {
  }


}


&.wide {
  .gi-nav {
  }

  .gi-nav-link {
    display: block;
  }
}

.gi-nav-link:hover {
  background: #5c5c5c;
}

.gi-nav-link strong {
  display: block;
}

.gi-nav-link-meta{
  font-weight: normal;
}
