@import "fonts";
// Namespace CSS
.gi-interactive {
  @import "embed";
  @import "header";
  @import "nav";
  @import "chapter";
  @import "map";

  @media (min-width: 81.25em) {  }
  @media (min-width: 61.25em) {  }
  @media (min-width: 41.25em) {  }




    /* Usually interactive container is a <figure> so we need to remove margin and padding. */

  padding: 0;
  margin: 0;
  background: #333;
  color: #efefef;

  h1 {
    color: rgb(255, 255, 255);
  }


  // Hack background images
  #belfast {
    background-image: url(../imgs/map_01.jpg);
  }

  #westbank {
    background-image: url(../imgs/map_02.png);
  }
}