
@import "fonts";
// Namespace CSS
.gi-interactive {
  @import "normalize";
  @import "embed";
  @import "loading";
  @import "header";
  @import "nav";
  @import "chapter";
  @import "map";


  @media (max-width: 41.25em) {
    margin: 0 -20px 0 -20px;}
  @media (max-width: 30em) {
    margin: 0 -10px 0 -10px;
  }

  /* Usually interactive container is a <figure> so we need to remove margin and padding. */
  padding: 0;
  margin: 0;
  background: #333;
  color: #efefef;
  font-size: 10px;
}

#content .gi-interactive {
  @import "chapter";
}