/*@import url("fonts.css");*/

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.r2-wrapper {
  width: 940px;
  margin: 0 auto;
}

.gi-interactive {
  background: #333;
  color: #efefef;
  margin: 0;
  padding: 0;
}

#belfast {
  background: transparent url(../imgs/map_01.jpg) 0 0 no-repeat;
}

#westbank {
  background: transparent url(../imgs/map_02.jpg) 0 0 no-repeat;
}

body {
  padding: 0;
  margin: 0;
}

.gi-header {
  overflow: hidden;
  height: 3.2rem;
  background: #222;
}

.gi-header-title {
  margin: 0;
  font-size: 1.4rem;
  display: inline-block;
  float: left;
}

.gi-top {
  color: #fff;
  text-decoration: none;
}

.gi-nav {
  float: right;
}

.gi-nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1rem;
  display: inline-block;
  font-size: 0.8rem;
  float: left;
  min-height: 2rem;
}

.gi-nav-link:hover {
  background: #666;
}

.gi-nav-link strong {
  display: block;
}


a {
  color: #fff;
  font-weight: bold;
}

.chapter {
  padding-left: 400px;
  position: relative;
}

.chapter_title {
  font-size: 3rem;
  margin-bottom: 0.2rem;
}

.chapter_meta {
  margin: 0;
  font-size: 0.9rem;
}

.chapter_meta dt,
.chapter_meta dd {
  display: inline-block;
}

.chapter_meta dt {
  font-weight: bold;
}

.chapter_meta dd {
  margin: 0 2.3rem 0 0.4rem;
}

.chapter_image,
.chapter_video {
  width: 100%;
}

.gi-chapter-map {
  position: absolute;
  left: 0;
  top: 0;
}

.gi-chapter-map svg path {
  stroke: red;
  stroke-width: 3px;
  fill: none;

}

.chapter-map-counter {
  position: absolute;
  right: 0;
  top: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: right;
}



.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid white;
  margin-top: -4px;
  left: 8px;
}


.walls-map {
    margin: 20px 0 80px 0;
}

section {
    margin-bottom: 80px;
}

.wall-base {
    position: fixed;
    z-index: -100;
    top: 0;
}

.wall-body {
    margin: 0 auto;
    width: 940px;
}

.wall-text {
    z-index: 100;
    width: 480px;
    line-height: 160%;
}

.wall-text p {
    font-size: 13px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.wall-text {
    color: white;
    font-family: "Arial";
    line-height: 160%;
    width: 460px;
}

.wall-text p {
    font-size: 16px;
    color: rgb(240,240,240);
    font-family: "WebEgyptian-Regular";
}